extends layout.pug
block content

  .editor
    h1.editor__title Edit Book
    if errorMsg
      include errorMessages.pug

    form.editor__form(method='POST', action=`/books/${book.id}/edit`)
      ul
        li
          label(for='title') Title
          input#title.editor__input(name='title', type='text', value=`${errorMsg ? input.title : book.title}`)
        li
          label(for='author') Author
          input#author.editor__input(name='author', type='text', value=`${errorMsg ? input.author : book.author}`)
        li
          label(for='genre') Genre
          input#genre.editor__input(name='genre', type='text', value=`${errorMsg ? input.genre : book.genre}`)
        li
          label(for='year') Year
          input#year.editor__input(name='year', type='text', value=`${errorMsg ? input.year : book.year}`)
        li
          .editor__button
            button(type='submit' value='update') update
            button(type='submit' formaction=`/books/${book.id}/delete`) delete
            button
              a(class='' href="/") Cancel