extends layout.pug
block content
  .table-container
    table.table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
          th
      tbody
      each book in books
        tr.table__row
          td #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
          td
            button.table__button
              a(href=`/books/${book.id}/edit`) EDIT
    ul.table__pagination
      - for (var i = 1; i <= anchorLinksNeeded; i++)
        li(class=(index === i) ? 'active' : '')
          a(href=`/books/page/${i}`) #{i}