extends layout.pug
block content
  h1 Search Results
  p.books-form
    a.button(href='/books') Back
    form#search-bar(method='get', action='/search')
      input(name='keyword', type='search', placeholder='Search...')
      button.searchBtn(type='submit') Search
  if Books
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
      each book in Books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  else 
    h2 Sorry, no match found

        